@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

html{
    font-family: Garamond, EB Garamond, Georgia, serif;
}

.brand{
    width: 20px; 
    height: 20px;
}

.main-view {
    position: absolute; 
    top: 150px;
    left: 50px; 
    right: 50px;
}

.main-footer {
    border-top: 1px solid #CCCCCC; 
    color: #777777;
    line-height: 25px;
    height: 25px; 
    position: absolute; 
    bottom: 0; 
    left: 10px; 
    right: 10px;
}
