<div class="page-header">
    <h1>Page Android Blind Input Method</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <div class="thumbnail">
            <img src="database/about/images/demo.gif" alt="" />
        </div>
    </div>
    <div class="col-xs-12 col-md-8">
        <p class="h3">
        This keyboard support latin, arabic and chinese input. 
        <br/>
        <br/>
        The correspondance is invented by Mr. YU Youquan.
        <br/>
        <br/>
        You can change the input method by clicking on the button Latin(Arabic) then use this input method to enter whatever you have seen.
        <br/>
        <br/>
        The software will be available on Player Store sooner, so please download it and have a Try.
        </p>
    </div>
</div>
