<div class="page-header">
    <h1>Page Gif Convertor</h1>
</div>
<ul class="list-group">
    <li class="list-group-item">
        file1.mp4
        <span class="label label-success">Success</span>
    </li>
    <li class="list-group-item">
        file2.mp4
        <span class="label label-danger">Failure</span>
    </li>
</ul>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">60% Complete</span>
    </div>
</div>
<a href="#" class="btn btn-primary" role="button">Upload</a>
