<div>
    <div class="page-header">
        <h1>Recently Made
            <small>Contact Me: <a href="mailto:sawyer.lin@gmail.com">sawyer.lin@gmail.com</a><small/>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-3" ng-repeat="project in projects">
            <a class="thumbnail" href="#/project/{{project.id}}">
                <img ng-src="{{project.image}}">
                <div class="caption">
                    <h3>{{project.name}}</h3>
                    <p>{{project.description}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
