<div class="navbar-header" >
    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" area-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/about" ng-click="changeHeader('about')">
        <img alt="SL" src="favicon.ico" class="brand"/>
    </a>
</div>
<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li ng-repeat="(key, value) in headers" id="{{key}}" class="{{value.class}}">
            <a href="{{key == 'record' ? (key + '.html') : ('#' + key)}}" ng-click="changeHeader(key)">{{value.name}}</a>
        </li>
    </ul>
</div>
